{% extends 'accounts/_base.html' %}
{% load widget_tweaks %}

{% block title %}| Signup{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h1>Signup</h1>
        <!-- {{ form.as_p }} -->
        Email: {{ form.email }} <br>
        Username: {{ form.username }} <br>
        Password: {{ form.password1 }} <br>
        Confirm Password: {{ form.password2 }} <br>

        <button type="submit">Create</button>
    </form>
{% endblock content %}